# Airtome
flightbookfilename="flugbuch" # Your flightbook's file name, without the .fb.zip part
airtomebin="/opt/airtomeAirTome" #Your AirTome executable
# Website
websiteroot="https://sebschmied.github.io" # The website you're publishing on
websitetitle="Flugbuch" # The big h2 headline and title tag
googlemapsapikey="AIzaSyB1CqtckRTi90FYDLfUjuUIydnPzoJzmiI" # Get your api key here: https://developers.google.com/maps/documentation/javascript/get-api-key


## Column titles
columntitle_number="Flug"
columntitle_date="Datum"
columntitle_aircraft="Schirm"
columntitle_site="Fluggebiet"
columntitle_duration="Dauer"
columntitle_comment="Kommentar"

# Maps
maps_line_color="ee0000ff"  #The line color to use for your track
maps_line_width="4"         # The line width 
maps_points_count="400"     # Maximum number of track points. Higher values look better, but google imposes a file size limit around 10MB.

# Pilot data
minimum_xc_distance="15000" # Minimum xc distance in meters to display the distance at all. This is because I don't care about the distance for local soaring etc. Set to 0 if you do.


